*{
    margin: 0;
    padding: 0;
    font-family: "Montserrat";
    box-sizing: border-box;
}

html,body{
    width: 100%;
    height: 100%;
}

body{
    overflow: hidden;
    background-color: #ececec;
}

#background-video {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
}

@media (max-width: 750px) {
    #background-video { display: none; }
    body {
      background: url("https://assets.codepen.io/6093409/river.jpg") no-repeat;
      background-size: cover;
    }
}

#loader{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100%;
    height: 100%;
    background-color: #fff;
    animation: anim2 1s cubic-bezier(0.19, 1, 0.22, 1) 4s both;
}

#wrapperload{
    width: 500px;
    height: 100px;
    overflow: hidden;
    background-color: #fff;
}

#wrapperload .elem{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    /* background-color: #efefef; */
}

#wrapperload .elem img{
    width: 30%;
}

#wrapperload .elem:nth-child(1){
    animation: anim 2s cubic-bezier(0.19, 1, 0.22, 1) 1s both;
}

@keyframes anim{
    to{
        margin-top: -100px;
    }
}

@keyframes anim2{
    to{
        transform: translateY(-100%);
    }
}

#bg{
    width: 100%;
    height: 100vh;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) .5s;
    mix-blend-mode:normal;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    height: 80px;
    /* background-color: #dadada; */
    margin: 0 auto;
}

nav img{
    width: 110px;
}

nav #links{
    display: flex;
    align-items: center;
}

nav #links a{
    margin-left: 50px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 11px;
    color: goldenrod;
    font-weight: 700;
    opacity: 100%;
    letter-spacing: 4px;
}

nav #links i{
    margin-left: 50px;
    color: goldenrod;
}

nav #links a:nth-child(2){
    opacity: 100%;
}

#sections{
    display: flex;
    width: 100%;
    height: calc(100% - 80px);
}

#left{
    width: 50%;
    height: 100%;
    padding: 100px;
}

#left #smline{
    width: 250px;
    height: 3px;
    margin-top: 30px;
    background-color: rgb(82, 184, 218);
}

#left h4{
    font-size: 50px;
    margin-top: 10px;
    font-family: "Gilroy ☞";
    color: rgb(82, 184, 218)
}

#left>h5{
    text-transform: uppercase;
    letter-spacing: 12px;
    width: 650px;
    margin-top: 30px;
    font-weight: 700;
    color: goldenrod
}

#left>h5 span{
    color: rgb(82, 184, 218);
    font-size: 50px;
}

#playbtn img{
    width: 80px;
}

#playbtn{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

#playbtn h5{
    font-size: medium;
    letter-spacing: 10px;
    opacity: .9;
    margin-left: 20px;
    text-transform: uppercase;
    color: goldenrod;
}

.bold{
    font-weight: 800;
    color: aqua;
    font-size:x-large;
}

#contact{
    margin-top: 30px;
}

#contact h3{
    text-transform: uppercase;
    letter-spacing: 15px;
    font-size: large;
    opacity: .8;
    font-weight: 800;
    margin-bottom: 20px;
    color: goldenrod;
}

#contact h6{
    font-size: medium;
    margin-top: 5px;
    color: goldenrod;
}

#contact h6 span{
    color: #04C2C7;
}

#splash{
    position: absolute;
    left: -60px;
    top: 55%;
    width: 220px;
}